@media (max-width: 1160px) {
    .container{
     max-width: 800px;
    }
 }
@media (max-width: 768px) {
   .container{
    max-width: 600px;
   }
}
@media (max-width: 480px) {
    .row{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .container{
        max-width: 362px;
       }
    
  
    .lessons .col {
        width: 100%;
    }
    .steps .col {
        width: 100%;
    }
    .steps{
        margin-bottom: 0rem;
    }
    .why-us .row > *{
        width: 100%;
    }
    .why-us{
        background-color: rgb(54, 53, 53);
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-bottom: 0rem;
    }
}
    
